*{
    margin: 0;
    padding:0;
    
}

center{
    width:90px;
    margin:100px auto;
    margin-left: 100px;
}

input[type="text"]{
    width:500px;
    padding:10px;
    padding-right: 0px;
    border: 1px solid #CCC;
    margin-top: 30px;
    float: center;
    margin-left: 100px
   
    
}

input[type="text"]:focus{
    box-shadow: 0px 0px 4px 0px rgba(50,50,50, 0.75);
    
}



input[type="submit"]{
    float: right;
    margin-right: 700px;
    padding:10px;
    border: 1px solid #CCC;
    background:#CCC;
    
}

input[type="submit"]:hover{
    
     background:#333;
    
}

input[type="submit"]:active{
    
     background:#FFF;
    color:#333;
}